<div class="flex justify-between mb-3">
    <h1 translate="">header.offers</h1>
    <button class="flat-button white" (click)="exportTable()">
        {{ 'common.buttons.export' | translate }}
    </button>
</div>

<div *ngFor="let filterGroup of dataSourceFilters" class="flex gap-4 mb-3">
    <ng-container *ngFor="let filter of filterGroup">
        <div *ngIf="filter.type === 'text'">
            <mat-form-field appearance="fill">
                <mat-label>{{ 'offers.list.filters.' + filter.name | translate }}</mat-label>
                <mat-select [(value)]="filter.defaultValue" (selectionChange)="selectFilter($event.value, filter)">
                    <mat-option *ngFor="let option of filter.options" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="filter.type === 'range'">
            <mat-form-field appearance="fill">
                <mat-label>{{ 'offers.list.filters.' + filter.name | translate }}</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="От - До"
                    [(ngModel)]="rangeFilters[filter.name]"
                    (ngModelChange)="onRangeChange(filter)"
                />
            </mat-form-field>
            <mat-error *ngIf="filterErrors[filter.name]">
                {{ 'common.validators.' + filterErrors[filter.name] | translate }}
            </mat-error>
        </div>
    </ng-container>
</div> 

<ng-container *ngIf="dataSource">
    <table id="offer" class="mat-elevation-z8" mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>
                {{ translatePath + 'date' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ translatePath + 'amount' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="product.name">
            <th mat-header-cell *matHeaderCellDef>
                {{ translatePath + 'product' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <a
                    routerLinkActive="active"
                    class="hover:text-white"
                    (click)="navigateToProduct($event, element)"
                    translate
                >{{ element.product.name }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="product.partNumber">
            <th mat-header-cell *matHeaderCellDef>
                {{ translatePath + 'partNumber' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.product.partNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="product.quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ translatePath + 'quantity' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.product.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="product.price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ translatePath + 'price' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.product.price }}</td>
        </ng-container>

        <ng-container matColumnDef="additionalExpenses">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ translatePath + 'additionalExpenses' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.additionalExpenses }}</td>
        </ng-container>

        <ng-container matColumnDef="commission">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ translatePath + 'commission' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.commission}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>
                {{ translatePath + 'description' | translate }}
            </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{ element.description }}">
                {{ element.description | truncateText }}
            </td>
        </ng-container>

        <ng-container matColumnDef="supplier.name">
            <th mat-header-cell *matHeaderCellDef>
                {{ translatePath + 'supplier' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <a
                    routerLinkActive="active"
                    class="hover:text-white"
                    (click)="navigateToSupplier($event, element)"
                    translate
                >{{ element.supplier.name }}</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="cursor-pointer hover:bg-blue-200 transition duration-300" (click)="selectedRow(row)">
        </tr>
    </table>
    <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 40, 80, 160]"></mat-paginator>
</ng-container>
